@model List<ConversaListaViewModel>
@using Microsoft.AspNetCore.Identity;
@using BibliotecaFSJ.ViewModels
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-3">
        <a href="#" class="btn btn-outline-dark">
            &#9999; Escrever
        </a>
        <br/>
        <br/>

        <span class="fw-bold">&#128229; Caixa de Entrada <span class="badge bg-danger text-white text-wrap"> @Model.Count </span></span>
        <a href="@Url.Action("Enviados","Chat",new { idUsuario = UserManager.GetUserId(User) })" class="btn fw-bold">📨 Enviados <span class="badge bg-danger text-white text-wrap"> 5 </span></a>

    </div>
    <div class="col-9">
        @foreach (ConversaListaViewModel conversa in Model)
        {
            <a style="text-decoration: none;color : #171717" href="@Url.Action("Mensagens","Chat",new { idConversa = conversa.Id })">
                <div class="row bg-light pt-2 pb-2 rounded mb-2 border" style="cursor: pointer">
                    <div class="col-2">@conversa.NomeUsuario</div>
                    <div class="col-8 text-truncate">@conversa.ConteudoUltimaMensagem</div>
                    <div class="col-2 mt-1 text-muted float-right" style="font-size: .8rem">@conversa.DataUltimaMensagem</div>
                </div>
            </a>
        }
    </div>
</div>