@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]   Fórum FSJ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function handeInputPesquisa()
        {
            $("#linkPesquisa").attr("href", "/Home/Pesquisa?query=" + $("#inputPesquisa").val())
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fórum FSJ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item row">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="search" placeholder="Pesquisar assuntos" id="inputPesquisa" onchange="handeInputPesquisa()">
                                <div class="input-group-append ml-2">
                                    <a href="/Home/Pesquisa?query=" id="linkPesquisa" class="rounded btn btn-primary text-white "><i class="fas fa-search"></i></a>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <img class="imagem" style="border-radius: 50%; width: 45px; height: 45px;" src='@string.Concat("/Imagens/User/",UserManager.GetUserId(User),".jpg")' alt="~/Imagens/usericon.jpg" />

                    <span class="m-2">@UserManager.GetUserName(User)</span>
                    <div class="dropdown-content text-center">
                        @Html.ActionLink("Minha conta", "MinhaConta", "Perfil", new { id = UserManager.GetUserId(User) }, new { @class = "btn btn-outline-secondary" })
                        @Html.ActionLink("Sair", "Sair", "Autenticacao", new { }, new { @class = "btn btn-outline-danger mt-2 mb-2" })
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Fórum FSJ
        </div>
    </footer>
</body>
</html>