@using BibliotecaFSJ.ViewModels
@model TopicoViewModel

<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="card border-0 shadow rounded-3 mt-0 mb-0">
                <div class="card-body">
                    <div class="m-3 mt-0">
                        <h3>@Html.DisplayFor(x => x.Titulo, new { @id = "titulo" })</h3>
                    </div>
                    <div class="m-4">
                        <div id="texto">@Html.Raw(Model.Texto)</div>
                    </div>
                    <div class="m-3">
                        <label class="card-title">Imagens :</label>
                        <div class="card">
                            <div class="card-body" id="galeria">
                                @if (Model.Imagens != null)
                                {
                                    foreach (string caminho in Model.Imagens)
                                    {
                                        <img src="@caminho" width="80" height="80" style="margin-right: 15px;">
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <label class="card-title">Tags :</label><br />
                        @if (Model.Tags != null)
                        {
                            foreach (string tag in Model.Tags)
                            {
                                <span class="text-white bg-secondary p-1 rounded">@tag</span>
                            }
                        }
                    </div>
                    <div class="row">
                        <div class="d-grid m-3 col-3">
                            @Html.ActionLink("Voltar", "Index", "Home", new { }, new { @class = "link-primary fw-bold mt-4" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>