@using BibliotecaFSJ.ViewModels
@model CadastroViewModel

@{
    Layout = "_AutenticacaoLayout";
    ViewData["Title"] = "Criar conta";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Criar conta</h5>
                    @using (Html.BeginForm("Cadastrar", "Autenticacao", FormMethod.Post))
                    {
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(x => x.Nome, new { @type = "text", @class = "form-control", @id = "floatingNome", @placeholder = "Nome", @required = true })
                            @Html.LabelFor(x => x.Nome, new { @for = "floatingNome" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(x => x.Usuario, new { @type = "text", @class = "form-control", @id = "floatingUsuario", @placeholder = "Usuário", @required = true })
                            @Html.LabelFor(x => x.Usuario, new { @for = "floatingUsuario" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", @id = "floatingEmail", @placeholder = "name@example.com", @required = true })
                            @Html.LabelFor(x => x.Email, new { @for = "floatingEmail" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(x => x.Senha, new { @type = "password", @class = "form-control", @id = "floatingPassword", @placeholder = "Senha", @required = true })
                            @Html.LabelFor(x => x.Senha, new { @for = "floatingPassword" })
                        </div>

                        <div class="d-grid mb-3">
                            <input class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" value="Criar conta">
                        </div>
                        <div class="d-grid">
                            @Html.ActionLink("Voltar", "Login", "Autenticacao", new { }, new { @class = "link-primary fw-bold" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>